<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книга</title>
</head>
<body>

<p th:text="${book.getTitle()}">text</p>
<p th:text="${book.getAuthor()}">text</p>
<p th:text="${book.getYear()}">text</p>

<br><hr>

<div th:if="${owner == null}"><p>Эта книга свободна!<br>Чтобы взять ее, обратитесь <br>к любому сотруднику библиотеки.</p>
    <br>
    <a href="/books"><button>Все книги</button></a>
</div>

<div th:if="${owner != null}">
    <p>Эту книгу уже взяли</p>
    <br>
    <a href="/books"><button>Все книги</button></a>
</div>
</body>
</html>